body {
    background-color: black;
    color: white;
}

a{
    color: coral;
    size: 20px;
    font-weight: bold;

}

h1{
    color : coral;
}

p{
    font-size: 5px;
}


button{
    width: 370px;
    height: 100px;
    background-color: lime;
    color :black;
    font-size : 30px; 
    border-radius: 60px; 
}

button:focus{
    outline: 0;
}

button:hover{
    background-color: coral;
    color: white;
    font-size: 60px;
}

p{
    font-size: 40px;
}